body{
    background: rgb(148,148,213);
    background: linear-gradient(132deg, rgba(148,148,213,1) 0%, rgba(0,212,255,1) 51%, rgba(5,1,70,1) 98%);
    background-size: cover;
    margin: 0; 
    padding: 0;
   }
   
   main{
    font-size: 2em;
    color: black;
   }

   @font-face {
    font-family: 'Grandstander';
    src: url(../assets/fonts/Grandstander-Medium.ttf) format('truetype');
  }

  .header {
    font-family: 'Grandstander', sans-serif
  }